body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f7f9fc;
    color: #333;
}

h1 {
    color: #005f8c;
    text-align: center;
    margin-top: 30px;
}

#gameSetup, .phase, #playerStatsOverview {
    background: #fff;
    border: 1px solid #dce1e8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

button {
    background-color: #0073aa;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005f8c;
}

.phase.hidden {
    display: none;
}

.phase.visible {
    display: block;
}

#playerStats h2, .phase h2 {
    border-bottom: 2px solid #0073aa;
    margin-bottom: 10px;
}

#summoningPointsOverview {
    background-color: #e3e8ee;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
}

#trickResult {
    color: #0073aa;
    font-weight: bold;
}
